[submodule "effective-java-3e-source-code"]
	path = effective-java-3e-source-code
	url = https://github.com/jbloch/effective-java-3e-source-code.git
[submodule "algs4"]
	path = algs4
	url = https://github.com/kevin-wayne/algs4.git
[submodule "unpv13e"]
	path = unpv13e
	url = https://github.com/unpbook/unpv13e.git
[submodule "Managing_Projects_with_GNU_Make_3rd_Edition"]
	path = Managing_Projects_with_GNU_Make_3rd_Edition
	url = https://resources.oreilly.com/examples/9780596006105.git
[submodule "pcc_2e"]
	path = pcc_2e
	url = https://github.com/ehmatthes/pcc_2e.git
[submodule "compose-museum_sample-app"]
	path = compose-museum_sample-app
	url = https://github.com/compose-museum/sample-app
